h1{
    border-style: double;
    border-width: 10px;
    border-color: black;
    width: 50%;
    padding: 10px;
    margin: auto;
    margin-bottom: 25px;
}
h2{
    font-size: 20px;
}
h2 img{
    width: 1000px;
    height: auto;
    /*border-style: solid;
    border-color: black;
    border-width: 5px;*/
}
div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto;
    border: 4px solid black; 
}
h3 a{
    text-decoration: none;
    color: white;
}
h4 a{
    text-decoration: none;
    color: white;
}
h2{
    padding-top: 2px;
}
h4{
    font-size: 20px;
    padding-bottom: 25px;
}
h5 a{
    color: white;
    text-decoration: none;
}
body{
    font-family: arial;
}