body {
    background-size: 345px auto;
    background-repeat: repeat;
    padding-top: 0px;
}
h1{
    border-style: solid;
    border-color: white;
    border-width: 3px;
    background-color: black;
}